<!DOCTYPE html>
<html lang="zh-TW">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale1.0">
  <title>邱梓綸簡介</title>
</head>

<body background="../static/abcd.jpg">
  
    <h1>邱梓綸 (Chiu-Tzu-Zun)</h1> 
    <h1>靜宜大學 https://www.pu.edu.tw</h1>
    <h1>資訊管理學系 https://csim.pu.edu.tw</h1>
  

  <session>
    <header>關於我</header>
    <h1>系級:資管二B</h1>
    <h1>學號:411017551</h1>
    <h1>E-mail:s1101755@gm.pu.edu.tw</h1>
  </session>

  <footer>
    Copyright © 邱梓綸. All Rights Reserved.
  </footer>
</body>
</html>