<!DOCTYPE html>
<html lang="zh-TW">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale1.0">
  <title>邱梓綸簡介</title>
</head>

<body background="../static/bcd.jpg">
  性別:男
  <br>
  生日:2003年1月5日
  <br>
  年齡:19歲
  <br>
  應徵職務:資訊安全管理人員
  <br>
  學歷
  <br>
  國小:台中市頭家國小
  <br>
  國中:台中市弘文中學
  <br>
  高中:台中市弘文高中
  <br>
  大學:台中市靜宜大學(在學)
  <br>
  學習過的能力
  <br>
  程式語言:Java、Python
  <br>
  網頁設計:HTML
  <br>
  自傳
  <br>
  我對程式應用很有熱忱，未來也想運用所學進入大公司謀求一份工作
  <br>
</body>
</html>