<!DOCTYPE html>
<html lang="zh-TW">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale1.0">
  <title>邱梓綸簡介</title>
</head>

<body background="../static/bc.jpg">
  資訊安全管理人員
  <br>
  第一金人壽保險股份有限公司
  <br>
  上班地點:台北市信義區信義路四段456號13樓
  <br>
  工作內容
  <br>
  1.規劃與執行資訊安全管理系統、個人資料管理系統相關維運作業
  <br>
  2.規劃與執行資訊安全相關專案。
  <br>
  3.資訊安全事件與情資監控、分析、處理。
  <br>
  4.資訊安全與個人資料保護內、外部查核與缺失改善追蹤。
  <br>
  5.辦理資訊安全與個人資料保護教育訓練。
  <br>
  條件要求
  <br>
  工作經歷:2年以上
  <br>
  學歷要求:專科以上
  <br>
  科系要求:資訊管理相關
  <br>
  語文條件:不拘
  <br>
  擅長工具:不拘
  <br>
  工作技能:不拘
  <br>
  其他條件
  <br>
  1.2年以上資訊安全相關工作經驗佳
  <br>
  2.主動積極，具良好溝通、協調、規劃能力。
  <br>
  3.熟悉資訊安全管理系統、個人資料管理系統或具備相關專業證照者佳。
  <br>
  4.具資訊安全稽核或電腦審計相關經驗、證照者佳。
  <br>
</body>
</html>